


body{
  background-color: #fff5d7;
background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23ffaaab' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}


main{
  background-color: #fff5d7;
  padding: 20px 40px 40px 40px;
  border-radius: 20px;
  

}
.container {
    max-width: 840px; /* Design Time */
    margin: 0 auto;
  }

header{
  text-align: center;
}

  header h1{
    color:#2D1728;
    font-family: "Caladea", serif;
    font-size: 3em;
  }

form#circle-form{
    background-color: #ffffff;
    padding:20px;
    border:1px solid #fff;
    border-radius: 20px;

}

form#circle-form h2{
    border-bottom: 1px solid #cccccc;
}

.formlabel {
  display: inline-block;
  width: 200px;
  text-align: right;
  padding: 5px;
  font-weight: bold;
}

.error {
  color: red;
  padding-left: 5px;
}
    
input#user-radius{
    padding: 3px;
  }

/*    -----    Media Queries  --------- */

@media screen and (max-width:425px){
  .container {
    max-width: 400px;
  }

  .formlabel {
  text-align: left;
}

}


@media screen and (max-width:530px){
  .container {
    max-width: 400px;
  }

  .formlabel {
    display: block;
    text-align: left;
  }

  span#diameter, span#circumference, span#area{
    padding: 5px;
  }

  input#user-radius{
    margin-left: 5px;
  }

}