

body{
  background-color: #fff5d7;
background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23ffaaab' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}


main{
  background-color: #fff5d7;
  padding: 20px 40px 40px 40px;
  border-radius: 20px;
  

}
.container {
    max-width: 860px; /* Design Time */
    margin: 0 auto;
  }

header{
  text-align: center;
}

  header h1{
    color:#2D1728;
    font-family: "Caladea", serif;
    font-size: 3em;
  }

section#exercises{
  border: 1px solid #2D1728;
  border-radius:20px;
  padding: 20px;
}

section#exercises ul{
  padding-left:0px;
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}



#exercises ul li{
  list-style-type: none;
  display: flex;
}
  
#exercises ul li a{
  text-decoration: none;
  text-align: center;
  font-family: "Sniglet", system-ui;
  font-size:1.2rem;
  color:#2D1728;
  border-radius: 10px;
  background-color: #ff5e6c;
  flex: 1;                     /* <-- fill entire <li> */
  display: flex;               
  align-items: center;      
  justify-content: center;    
  padding: 10px;               
  box-sizing: border-box; 
}

#exercises ul li a:hover{
  background-color:#ffaaab;
}




